.appHeader {
  background-color:#00cc99;
  padding: 2%;
  color: black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.songCount {
  display: inline-block;
  padding: 2%;
  margin-left: 5%;
}

.playlistCount {
  display: inline-block;
  margin-right: 5%;
}

.App {
  text-align: center;
  background-color: rgb(238, 248, 255);
  height: 1000px;;
}

.playlist {
  margin-top: 2%;
  display: inline-block;
  padding: 3%;
  border: 2px solid black;
  

}