.appHeader {
  background-color:#00cc99;
  padding: 2%;
  color: black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.songCounterContent {
  display: inline-block;
}

.playlistCounterContent {
  display: inline-block;
  margin-right: 5%;
}

.App {
  text-align: center;
  background-color: rgb(238, 248, 255);
  height: 1000px;;
}

.playlist {
  display: inline-block;
  margin: 3%;
  padding: 1%;
  border: 2px solid black;
}